#row_detail {
    height: 500px;
}

#row_detail img {
    height: 100%;
}

#product_detail {
    margin-top: 20px;
    text-align: left;
}

#product_detail p {
    text-align: justify;
}

h5 {
    margin-top: 20px;
}

p {
    margin-top: 20px;
}

#product-rating {
    color: #f9d81c;
    margin-top: 10px;
}

#rating-point {
    flex-direction: row;
    display: flex;
}

#rating-point h5 {
    margin-left: 10px;
}

#reviews {
    text-align: left;
}

#user_rating {
    width: 600px;
    min-height: 100px;
}

#form_submit {
    margin-top: 1.5rem;
}

#list-reviews {
    margin-top: 1.5rem;
}

#item-review {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    flex-direction: column;
    display: flex;
    border: solid black 1px;
    width: 600px;
}

#item-review p {
    margin-top: 0px;
    margin-left: 10px;
}

#list-rating {
    color: #f9d81c;
    text-align: right;
    margin-right: 10px;
}

#user-review {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    flex-direction: column;
    width: 600px;
    display: flex;
}
