#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #57117f;
    padding: 0px 40px;
  }
  
  #navbar li {
    list-style: none;
    display: inline-block;
    margin: 0px 40px;
    padding-top: 10px;
    font-size: 22px;
    color: white;
  }
  
  div.nav-details > * {
    display: inline-block;
    color: royalblue;
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
  }
  
  #navbar .search-container {
    float: right;
  }
  
  #navbar input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    width: 400px;
    border: none;
  }
  
  #navbar .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    margin-bottom: 8px;
  }

  #dropdown {
    margin-right: 55px;
  }

  #dropdown_toggle {
    border: none;
    box-shadow: none;
    background-color: #57117f;
    font-size: 22px;
  }

  #dropdown_categories {
    margin: auto;
  }

  #item-category {
    text-decoration: none;
    color: black;
  }

  #navbar-cart {
    background-color: #57117f;
    color: white;
    text-decoration: none;
    margin-left: 10px;
    border: none;
  }